.square {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.square.wall {
  background: transparent;
}

.square.dot {
  background: #e8da5a;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin: 7.5px;
  box-shadow: 0px 5px 5px #1d1c1c;
}
